#header nav ul li a {
    font-weight: 300;
    color: #e44c65 !important;
}
#header nav ul li a.special {
    color: white !important;
}

#program-kerja a {
    display: inline;
    color: white;
    text-decoration: none;
}

#program-kerja .row a p {
    color: white;
}

.center {
    text-align: center;
}
